#boxDetailProduct {
  margin: 0.25rem;
  background-color: white;
  width: 100%;
  #boxTitleDetailProduct {
    margin: 3rem 3rem 1rem 3rem;
    font-size: larger;
  }
  #boxContentDetailProduct {
    margin: 0rem 3rem 1rem 3rem;
    display: grid;
    grid-template-columns: 20% 80%;
  }
  #titleDescription {
    margin: 0rem 3rem 1rem 3rem;
    font-size: larger;
  }
  #boxDescriptionDetailProduct {
    margin: 0rem 3rem 3rem 3rem;
  }
}
.sectionDetailProduct {
  color: rgb(153, 153, 153);
}
.valueSectionDetailProduct {
  color: rgb(77, 77, 77);
}
