:root {
    --width-main-img: 350px
}

.product-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (width<=768px) {
        position: relative;
    }

    @media (width>768px) {
        padding: 2vh;
        gap: 1vh;
        width: 100%;
    }
}

.product-gallery__image-main {
    object-fit: cover;
    aspect-ratio: 1/1;
    display: none;

    @media(width>768px) {
        width: var(--width-main-img);
        display: block;
    }
}

.product-gallery__image-list,
.image-list {
    display: flex;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    gap: 1vh;


    @media (width>768px) {
        width: var(--width-main-img);
        height: 100px;
        padding: 1vh;
        gap: 1vh;
        justify-content: space-around;
    }
}

.image-list__image {
    aspect-ratio: 1/1;
    object-fit: cover;
    scroll-snap-align: center;

    @media (width<=768px) {
        width: 100%;
        height: 100vw;
        background-color: var(--bgc-1);
    }

    @media (width>768px) {
        height: 100%;
    }

}

.product-gallery__amount-image {
    position: absolute;
    bottom: 4vw;
    right: 3vw;
    color: var(--color-text);

    @media (width>768px) {
        display: none;
    }
}

.product-gallery__amount-image::before {
    content: "1";
}

.product-gallery__amount-image[data-amount="1"]::before {
    content: "1";
}

.product-gallery__amount-image[data-amount="2"]::before {
    content: "2";
}

.product-gallery__amount-image[data-amount="3"]::before {
    content: "3";
}

.product-gallery__btn-next-image {
    position: absolute;
    right: var(--edge-mobile);
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    text-align: center;
    color: white;
    background-color: rgba(128, 128, 128, 0.4);

    @media (width<768px) {
        top: 50vw;
    }
}

.product-gallery__btn-next-image--disable {
    display: none;
}

.product-gallery__btn-prev-image {
    position: absolute;
    top: 50vw;
    left: var(--edge-mobile);
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    text-align: center;
    color: white;
    background-color: rgba(128, 128, 128, 0.4);
}

.product-gallery__btn-prev-image--disable {
    display: none;
}