@media (width>768px) {
  [class*="product-title__"] {
    text-align: left;
    align-content: center;
  }

  [class*="add-item__"] {
    align-content: center;
  }
}

@media (width<=768px) {
  [class*="add-item__"] {
    align-content: center;
    font-size: x-large;
  }

  [class*="product-title__"] {
    font-size: small;
  }
}

.product-title {
  display: grid;
  width: 100%;
  padding: 2vh;

  @media (width<=768px) {
    gap: 2vh;
    padding-bottom: 3vh;
    grid-template-areas:
      'price btnFavorite'
      'name name'
      'ratting amountStock'
  }

  @media (width>768px) {
    grid-template-areas:
      '... btnFavorite'
      'name name'
      'ratting amountStock'
      'price price'
      'price price'
      'price price'
      'addItem addItem'
    ;
  }
}

.product-title__price {
  grid-area: price;
  align-content: center;
  font-size: larger;
  font-weight: bolder;

  @media (width>768px) {
    text-align: center;
  }
}

.product-title__add-to-favorite {
  grid-area: btnFavorite;
  align-content: center;

  @media (width<=768px) {
    text-align: right;
  }

  @media (width>768px) {
    text-align: right;
  }
}

.product-title__name {
  grid-area: name;
  font-size: larger;
}

.product-title__ratting {
  grid-area: ratting;
}

.product-title__amount-in-stock {
  grid-area: amountStock;

  @media (width<=768px) {
    text-align: right;
  }

  @media (width> 768px) {
    text-align: right;
  }
}

.product-title__add-item,
.add-item {
  grid-area: addItem;
  text-align: center;
  display: grid;

  @media (width<=768px) {
    padding: 1vh;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
    z-index: 1;
    background-color: var(--bgc-2);
    color: white;
    grid-template-areas: "btn-decrease amount btn-increase add-to-cart";
  }

  @media (width > 768px) {
    align-content: initial;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
      "... btn-decrease ... amount  ... btn-increase ..."
      "add-to-cart add-to-cart add-to-cart add-to-cart add-to-cart add-to-cart add-to-cart";
  }
}

.add-item__amount {
  grid-area: amount;
}

.add-item__decrease {
  grid-area: btn-decrease;

  @media (width > 768px) {
    border-radius: 100%;
    height: 3.5rem;
    color: white;
    aspect-ratio: 1/1;
    background-color: var(--bgc-2);
  }
}

.add-item__increase {
  grid-area: btn-increase;

  @media (width > 768px) {
    border-radius: 100%;
    height: 3.5rem;
    color: white;
    aspect-ratio: 1/1;
    background-color: var(--bgc-2);
  }
}

.add-item__add-to-cart {
  grid-area: add-to-cart;

  @media (width<=768px) {
    font-size: large;
  }

  @media (width > 768px) {
    background-color: var(--bgc-2);
    color: white;
    padding: 1vh;
    border-radius: 1vh;
  }
}