#boxContent {
  display: flex;
  justify-content: center;
  align-items: center;
  #boxSubContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    #countItem {
      margin: 1rem;
    }
  }
}
