#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: rgb(26, 128, 128);
  border: 3px solid red;
  #boxNavbar {
    width: 80%;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    .TitleNavbarShow {
      border: 1px solid white;
    }
  }
}

a {
  text-decoration: none;
  color: white;
}
