@media (width <=768px) {
    [class*="product-description__"] {
        font-size: small;
    }

    [class*="product-description__topic"] {
        text-transform: uppercase;
        font-weight: bold;
    }
}

.product-description {
    display: grid;
    padding: var(--edge-mobile);
    padding-bottom: 4vh;
    gap: 3vh;
    background-color: #fff;

    @media (width<=768px) {
        width: 100%;
        grid-template-areas:
            "title title"
            "t-category  t-brand"
            "category  brand"
            "t-description t-description"
            "description description"
        ;
    }

    @media (width > 768px) {
        width: 768px;
        gap: 2vh;
        grid-template-areas:
            "title title title title "
            "... t-category category ..."
            "... t-brand brand ..."
            "... t-description description ..."
        ;
    }
}

.product-description__title {
    font-size: medium;
    font-weight: bold;
    grid-area: title;
}

.product-description__topic-category {
    grid-area: t-category;
}

.product-description__category {
    grid-area: category;
}

.product-description__topic-brand {
    grid-area: t-brand;
}

.product-description__brand {
    grid-area: brand;
}

.product-description__topic-description {
    grid-area: t-description;
}

.product-description__description {
    grid-area: description;
}