#boxBackButton {
  width: 100%;
  #back {
    margin: 1rem;
    color: rgb(179, 179, 179);
    font-weight: bold;
    display: flex;
    width: fit-content;
  }

  #back:hover {
    font-weight: bold;
    cursor: pointer;
    color: rgb(0, 153, 153);
  }
}
