#boxFavoriteComponent {
  height: 100vh;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  #boxContentFavoriteComponent {
    padding: 1rem;
    width: 62%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    background-color: white;
    position: relative;
    #noFavoriteItem {
      position: absolute;
      height: 80%;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      padding-bottom: 10rem;
      color: rgb(153, 153, 153);
      font-size: 20px;
    }
  }
}
