.favorite {
  display: flex;
  flex-direction: column;
  padding: 2vh;
  font-weight: bold;
  min-height: 90vh;
  background-color: #fff;

  @media (width > 768px) {
    width: 768px;
    gap: 4vh;
  }
}

.favorite__title {}

.favorite__list {
  height: fit-content;
  display: grid;
  gap: .5vh;
  grid-template-columns: repeat(4, 24%);
  justify-content: center;
}

.favorite__no-product {
  text-align: center;
  color: var(--bgc-1);
  font-size: 50px;
  height: 60vh;
  align-content: center;
}