.ProductList {
  padding: 2vw;
  background-color: rgb(239, 239, 239);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ProductList__BoxListCardProduct {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 1vw;
  width: 100%;
}

@media only screen and (min-width: 425px) {
  .ProductList__BoxListCardProduct {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: calc(1vw/4);
    max-width: 768px;
  }
}