.ProductList {
  padding: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: 5px solid #000;
}

.ProductList__BoxListCardProduct {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 0.1rem;
  width: 60%;
  border: 5px solid #000;
}