.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  transition: background-color 1s;
  display: flex;
  justify-content: space-between;
  background-color: var(--bgc-1);
  padding: var(--edge-mobile);
  z-index: 1;
  color: var(--color-bd);
  border-color: var(--color-bd);
}

.navbar[data-scroll="0"] {
  background-color: inherit;
  border-color: var(--color-bd);
}


.navbar__btn-back {
  user-select: none;
  color: inherit;
}

.navbar__btn-back--disable {
  display: none;
}

.navbar__search {
  color: inherit;
}

.navbar__search--disable {
  display: none;
}

.search__input {
  border-color: var(--color-bd);
  background-color: inherit;
  border-width: 1px;
  border-style: solid;
  color: inherit;
}

.search__submit {
  color: inherit;
}

.navbar__cart {
  order: 5;
  color: inherit;
}


.navbar__logo {
  display: none;
}

.navbar__favorite {
  display: none;
}

.navbar__profile {
  display: none;
}