:root {
  --pd-1: calc(100vw - 768px);
}

.navbar {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bgc-2);
  transition: background-color 1s;

  @media (width <=768px) {
    position: fixed;
  }

  @media (width > 768px) {
    position: sticky;
  }
}

.navbar__box {
  display: flex;
  justify-content: space-between;
  padding: var(--edge-mobile);
  gap: var(--edge-mobile);
  color: white;
  width: 100%;

  @media (width > 768px) {
    width: 768px;
  }
}

.navbar__btn-back {
  @media (width>768px) {
    display: none;
  }
}

.navbar__btn-back--disable {
  display: none;
}

.navbar__logo {
  @media (width<=768px) {
    display: none;
  }
}

.navbar__search {
  display: flex;
  width: 80%;

  @media (width <=768px) {
    gap: var(--edge-mobile);
    justify-content: center;
  }

  @media (width > 768px) {
    width: 40%;
    justify-content: center;
    gap: 1rem;
  }
}

.search__input {
  width: 100%;
  border-radius: 1vh;
  color: black;

  @media (width<768px) {}
}

.search__submit {
  display: block;
}

.navbar__favorite {
  @media (width<768px) {
    display: none;
  }
}

.navbar__cart {
  display: block;
}

.navbar__profile {
  @media (width<768px) {
    display: none;
  }
}

/* effect when scroll  */
@media (width<=768px) {
  .navbar[data-scroll="0"] {
    color: var(--color-text);
    background-color: rgb(1, 1, 1, 0.15);
  }

  .search__input[data-scroll="0"] {
    background-color: rgba(255, 255, 255, 0.4);
  }
}