.card-product {
  transition: all .5s;
  transition-timing-function: ease-out;
  position: relative;
  border: 2px solid rgb(230, 230, 230);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  gap: 1rem;
  padding: .5rem;
  background-color: #ffffff;
}

.card-product:hover {
  transition: all .5s;
  transition-timing-function: ease-out;
  border-color: rgb(0, 128, 128);
  scale: 1.015;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.card-product__image {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  border-radius: .5rem;
  border: 1px solid rgb(241, 240, 240);
}

.card-product__title {
  font-weight: 100;
  width: 100%;
  height: 3rem;
  color: rgb(77, 77, 77);
}

.card-product__price {
  width: 100%;
  font-weight: bolder;
  margin-bottom: 1rem;
  gap: 1rem;

}

.price__original {
  color: rgb(77, 77, 77);
}

.price__original--kill-price {
  font-size: smaller;
  font-weight: 100;
  text-decoration: line-through;
  color: rgb(196, 196, 196);
}

.price__discount {
  font-weight: 100;
  color: rgb(77, 77, 77);
}

.tag-discount {
  right: 3%;
  top: 0;
  width: 18%;
  height: 13%;
  background-color: rgb(255, 245, 60);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 1%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);

}

.tag-discount__title {
  padding-top: 0.5rem;
  color: rgb(0, 0, 0);
  font-size: smaller;
  font-weight: 100;
}

.tag-discount__amount {
  font-weight: 100;
  color: rgb(255, 102, 68);
  font-size: medium;
}

.tag-favorite {
  width: 40px;
  height: 40px;
  top: 3%;
  left: 5%;
  position: absolute;
  display: none;

}

.tag-favorite--show {
  display: flex;
}

.tag-favorite__heart::before,
.tag-favorite__heart::after {
  top: 12px;
  left: 9px;
  content: "";
  position: absolute;
  width: 12px;
  height: 17px;
  border-radius: 50px 50px 0 0;
  background: rgb(255, 51, 51);
}

.tag-favorite__heart::before {
  transform: rotate(-45deg);
  transform-origin: left center;
}

.tag-favorite__heart::after {
  transform: rotate(45deg);
  transform-origin: right center;
}