@font-face {
  font-family: "myfont";
  src: url("./assets/fonts/prompt/Prompt-Regular.ttf");
}

* {
  --color-text: rgb(119, 119, 119);
  --color-bd: rgb(119, 119, 119);
  --bgc-1: rgb(230, 230, 230);
  --bgc-2: rgb(26, 128, 128);
  --edge-mobile: 2vw;
  --gray: #878787;
  border: 0;
  margin: 0;
  font-family: myfont;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bgc-1);

}

a {
  text-decoration: none;
  color: black;
}