@font-face {
  font-family: "font-1";
  src: url("./assets/fonts/prompt/Prompt-Regular.ttf");
}

:root {
  --color-text: rgb(111, 111, 111);
  --color-bd: rgb(153, 153, 153);
  --bgc-1: rgb(230, 230, 230);
  --bgc-2: rgb(26, 128, 128);
  --edge-mobile: 2vh;
  --w-desktop: 768px;
}

* {
  margin: 0;
  padding: 0px;
  font-family: font-1;
  color: inherit;
  border-color: inherit;
  /* background-color: inherit; */
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color: var(--color-text);
  outline: none;
  border: 0px solid white;
}

a {
  text-decoration: none;
}

input {
  border: none;
}